@import url('https://fonts.googleapis.com/css?family=Slackside+One');
@import url('https://fonts.googleapis.com/css?family=Radio+Canada');

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0 auto;
  }

body {
    line-height: 1.5;
    color: white; /* White text color */
    font-family: 'Radio Canada', sans-serif; /* Font family */
    background-image: url(paper.PNG);
    background-size: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 106, 74, 0.7); /* Adjust the alpha for transparency */
    z-index: -1;
}
  

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.profile-image {
    width: 18%; /* Adjust to your preference */
    margin-bottom: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 3.5rem; /* Adjust to your preference */
}


#about {
    text-align: center;
    padding-bottom: 1%;
  }

a:link, a:visited, a:link:active, a:visited:active { 
    color:#000;
    text-decoration: none;
}

p.caption {
    font-size: 1.5rem;
}


.card {
    height: 240px;
    width: 240px;
    border: none;
    color: #000;
    font-family: 'Slackside One' /* Black text color for card titles */
}

.header-card {
    width: 240px;
    height: 10px;
    border: none;
    color: #000;
    font-family: 'Slackside One' /* Black text color for card titles */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-card {
    background-image: linear-gradient(to bottom, hsl(0, 100%, 42%), hsl(0, 100%, 50%)); /* For the 'About Me' card */
    
}

.proj-card {
    background-image: linear-gradient(to bottom, hsl(45, 100%, 46%), hsl(45, 100%, 50%)); /* For the 'My Projects' card*/
}

/* Customize the card for 'Contact' section */
.contact-card {
    background-image: linear-gradient(to bottom, hsl(198, 83%, 45%), hsl(198, 83%, 50%)); /* For the 'Contact' card */
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}
